<%= simple_form_for :resume, url: "/resume_question", method: :post do |form| %>
  <div class="col-md-12">
    <div class="col-md-3">
      <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
        <%= form.submit "None", id: "none-btn", class: "btn btn-dark" %>
        <%= form.submit "About", id: "about-btn", class: "btn btn-dark" %>
        <%= form.submit "Summary", id: "summary-btn", class: "btn btn-dark" %>
        <%= form.submit "Cover Letter", id: "cover-letter-btn", class: "btn btn-dark" %>
        <%= form.submit "Estimate Salary", id: "estimate-salary-btn", class: "btn btn-dark" %>
        <%= form.submit "Estimate Pay", id: "estimate-pay-btn", class: "btn btn-dark" %>
        <%= form.submit "Linked In Headline", id: "linkedin-headline-btn", class: "btn btn-dark" %>
        <div id="demo"></div>
      </div>
    </div>
    <div class="col-md-6">
      <%= form.text_area :resume_text, class: "form-control", placeholder: "Paste resume or work experience." %>
    </div>
  </div>
<% end %>
<button id="test-btn">What is the time?</button>
